<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/css/style.css}">
    <title>Document</title>
</head>
<body>
<div th:each="p:${players}">
    <h3>Username:</h3>
    <p th:text="${p.userName}"></p>
    <h3>Average Guesses:</h3>
    <p th:text="${p.averageGuesses}"></p>
    <h3>Games Won:</h3>
    <p th:text="${p.gamesWon}"></p>
</div>

<button onclick="toggleLightMode()">Light Mode</button>

<script>
    console.log("Hello World")
    function toggleLightMode(){
        var element = document.body;
        element.classList.toggle("light-mode");
        console.log("clicked");
    }
</script>
</body>
</html>