body {
    color: #ffffff;
    background-color: #000000;
    font-family: Varela Round;
    font-size: 16px;
    max-width: 500px;
    margin: auto;
}

button {
    color: #FFFFFF;
    background: #000000;
}

button:hover{
    background-color: #ffff00;
    cursor: pointer;
}

.light-mode {
    color: black;
    background-color: white;
}
