body {
    color: #ffffff;
    background-color: #000000;
    font-family: Varela Round;
    font-size: 16px;
    max-width: 500px;
    margin: auto;
}

.light-mode {
    color: black;
    background-color: white;
}
